{% import "components/input.html" as forms %}

<div class="w-full flex flex-col gap-y-10 px-5 p-5">
  <div class="w-full flex flex-col gap-y-5">
    <p class="text-3xl font-bold underline">Your library</p>
    <table class="w-full table-fixed border-collapse border border-slate-500">
      <thead>
        <th class="py-2 border border-slate-600 w-1/4">Title</th>
        <th class="border border-slate-600 w-1/8">Length</th>
        <th class="border border-slate-600">Date Uploaded</th>
      </thead>
      <tbody>
        <tr>
          <td class="py-2 border border-slate-700 p-2">Audio 1</td>
          <td class="border border-slate-700 p-2">1h 20min</td>
          <td class="border border-slate-700 p-2">12/08/2023</td>
        </tr>
      </tbody>
    </table>
  </div>

  <form action={{url_for("upload.index")}} method="post" class="border rounded-md flex flex-col gap-y-5 w-full p-5">
    {{forms.input("title", title="Title", placeholder="Enter title")}}
    {{forms.input("description", title="Description", placeholder="Enter description for audio file")}}
    {% include "components/audio/upload_audio.html" %}
    <button type="button" class="w-1/2 bg-rose-200 rounded-md p-2.5 text-gray-700">Add to library</button>
  </form>
</div>

