<div class="flex flex-col w-full">
  <div class="flex flex-col ">
    <div>
      <h1>Audio 1</h1>
      <p>An audio about something</p>
    </div>
    <div>
      <p>12/08/2023</p>
      <p>1h 20min</p>
    </div>
    <div>
      <button>Delete</button>
      <button>Edit</button>
      <button>Play</button>
    </div>
  </div>
  <div>
    <div>
      <p>Translation by Google chrome</p>
      <button>Copy</button>
    </div>
    <p>
      Asimov's Science Fiction is an American science fiction magazine edited by
      Sheila Williams (pictured) since 2004. It was launched in 1976 under the
      title Isaac Asimov's Science Fiction Magazine, and was quickly successful,
      reaching a circulation of over 100,000 within a year. George H. Scithers,
      the first editor, published many new writers who went on to be successful
      in the genre. Shawna McCarthy became the editor in 1983, and expanded the
      range of stories Asimov's was willing to publish. Stories involving sex or
      violence scandalized some readers, but Isaac Asimov, the editorial
      director, defended McCarthy's choices in an editorial. McCarthy
      transformed the magazine into a leading market for science fiction
      writers, and more award-winning stories appeared, including fiction by
      Robert Silverberg and John Varley. Gardner Dozois took over as editor in
      1985 and multiple award-winning stories appeared during his tenure.
    </p>
  </div>
</div>
