<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
</head>

<body hx-boost="true" >
    <header>
        <a href={{url_for("index.hello_traveller")}} class="logo">Index</a>
        <ul>
            <li>
                {% if g.user %}
                <a href={{url_for("auth.login")}}>Change account</a>
                {% else %}
                <a href={{url_for("auth.login")}}>Change account</a>
                {% endif %}
            </li>
            <li>
                <a href={{url_for("auth.register")}}>Register</a>
            </li>
        </ul>
        <a href={{url_for("auth.logout")}}>Logout</a>
    </header>

    <main>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <div id="content">{% block content %}{% endblock %}</div>
    </main>
    
    <footer>
        {% block footer %}
        <a href="https://github.com/ngareleo/listening-monster" target="_blank">Github</a>
        {% endblock %}
    </footer>

</body>

</html>