<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            padding: 0;
            box-sizing: border-box;
            margin: 0;
        }
    </style>
    {% endblock %}
</head>

<body hx-boost="true" class="container h-full w-full flex flex-col gap-y-10 items-center" >
    <header class="flex w-full justify-between items-center">
        <a href={{url_for("index.hello_traveller")}} class="text-center text-lg font-semibold">((Listening))<br />&lt;&lt;Monster&gt;&gt;</a>
        <ul class="flex">
            <li>
                <a href={{url_for("auth.register")}}>{{g.username}}</a>
            </li>
            <li>
                <a href={{url_for("auth.logout")}}>Logout</a>
            </li>
        </ul>
    </header>
    <div class="container flex w-full h-auto">
        <div id="content" class="w-full h-full " >{% block content %}{% endblock %}</div>
    </div>  
    <footer>
        {% block footer %}
        <a href="https://github.com/ngareleo/listening-monster" target="_blank">Github</a>
        {% endblock %}
    </footer>
</body>

</html>